body {
    font-family: 'Courier New', Courier, monospace;
    color: #e0e0e0;
    background-color: #000000;
    justify-content: center;
}
#txt2{
    color: #7e21c0;
    font-size: 25px;
}
#donations{
    padding: 5px;
}
#email{
    padding: 5px;
    color: red;
}
#mmm {
    font-size: 25px;
    color: #7e21c0;
}
.container {
    text-align: center;
    margin-top: 20px; 
}
.name-container {
    margin-bottom: 20px;
}
.name-text {
    font-size: 25px;
    font-weight: bold;
    color:  #5B148F ;
}
.profile-image {
    border-radius: 50%;
    max-width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.list2{
    color: #ffffff;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin: 17px;
}
a {
    color: #ffffff; 
    text-decoration: none;
    font-size: 17px;
}
a:hover {
    text-decoration: underline;
}
.txt3{
    font-size: 13px;
}